
<div class="main">
	<div class="show-top-grids">
		<div class="col-sm-7 col-sm-offset-1 single-left">
			<div class="song">
				<div class="song-info">
					<h3 ng-bind="currentVideo.title"></h3>
				</div>
				<div class="video-grid">
					<video class="html5-video-content" ng-src="{{currentVideo.videoUrl | trusted}}" ng-attr-poster="{{currentVideo.thumbnailUrl}}" controls="controls"></video>
				</div>
				<div class="caption">
 					<div class="media">
 						<div class="media-left">
 							<img class="media-object small-avatar thumbnail" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" ng-src="{{currentVideo.owner.avatarUrl}}" alt="avatar">
 						</div>
 						<div class="media-body">
 							<h4 class="media-heading" ng-bind="currentVideo.owner.name"></h4>
 							<p class="descr descr-info" ng-bind="currentVideo.description"></p>
 						</div>
	 					<div>
							<p class="views views-info">{{currentVideo.views}} views</p>
						</div> 						
 					</div>
 					<hr/>
 				</div>
			</div>
			<div class="clearfix"> </div>	
		</div>
		<div class="col-md-3 single-right"  ng-controller="listVideosByUserController">
			<h3>Next video</h3>
			<div class="single-grid-right" ng-repeat="video in videos.content">
				<div class="single-right-grids">
					<div class="col-md-4 single-right-grid-left">
						<a ng-href="#/user/{{video.owner.id}}/video/{{video.id}}"><img ng-src="{{video.thumbnailUrl}}" alt="{{video.title}}" imageonload="updateLoadingSpinner()"/></a>
					</div>
					<div class="col-md-8 single-right-grid-right">
						<a ng-href="#/user/{{video.owner.id}}/video/{{video.id}}" class="title" ng-bind="video.title"></a>
						<p class="descr descr-info" ng-bind="video.description"></p>
						<ul>
							<li><p class="author author-info"> <a ng-href="#/user/{{video.owner.id}}/video" class="author" ng-bind="video.owner.name"></a></p></li>
							<li class="right-list"><p class="views views-info">{{video.views}} views</p></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			
			<div class="load-more" id="wrapper">
       			<button class="load-more-button" href="#" ng-click="showMore()" ng-hide="videos.page.number + 1 == videos.page.totalPages || loading">Show more...</button>
       			<div class="row-fluid ui-corner-all" ng-show="loading" >
					<p><img alt="Loading  Content" class="img-responsive center-block" src="/static/img/ajax-loader.gif" /></p>
			    </div>
			</div>
			<div class="clearfix"> </div>			
		</div>
		<div class="clearfix"> </div>	
	</div>
</div>
<div class="clearfix"> </div>	
