
	<div class="main-grids">
		<div class="recommended"  ng-controller="allListVideoByUserController">
			<div class="recommended-grids">
				<div class="recommended-info">
					<h3>All Video List</h3>
				</div>
				<div class="col-md-3 resent-grid recommended-grid" ng-repeat="video in videos.content" >
					<div class="resent-grid-img recommended-grid-img">
						<a ng-href="#/user/{{video.owner.id}}/video/{{video.id}}"><img ng-src="{{video.thumbnailUrl}}" alt="{{video.title}}" imageonload="updateLoadingSpinner()"/></a>
					</div>
					<div class="resent-grid-info recommended-grid-info video-info-grid">
						<h5><a ng-href="#/user/{{video.owner.id}}/video/{{video.id}}" class="title" ng-bind="video.title"></a></h5>
						<p class="descr descr-info" ng-bind="video.description"></p>
						<ul>
							<li><p class="author author-info"><a href="#" class="author" ng-bind="video.owner.name"></a></p></li>
							<li class="right-list"><p class="views views-info">{{video.views}} views</p></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
				<div class="load-more" id="wrapper">
       				<button class="load-more-button" href="#" ng-click="showMore()" ng-hide="videos.page.number + 1 == videos.page.totalPages || loading">Show more...</button>
					<div class="row-fluid ui-corner-all" ng-show="loading" >
						<p><img alt="Loading  Content" class="img-responsive center-block" src="/static/img/ajax-loader.gif" /></p>
				    </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>

<div class="clearfix"> </div>