body{
	background:#fff;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;																																												
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
a.navbar-brand {
   padding: 0 0 0 1em;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    padding: 1.5em 0;
    background: #FFF;
    margin: 0;
    box-shadow: 0px 0 2px #C1C1C1 !important;
}
a.navbar-brand h1 {
    margin: 0;
}
form.navbar-form.navbar-right {
    margin-right: 1em;
    width: 50%;
    float: left !important;
    margin-left: 10em;
    position: relative;
}
.navbar-form .form-control {
    width: 100%;
}
.top-search form input[type="text"] {
    position: relative;
    padding: 6px 43px 6px 12px;
    outline: none;
    box-shadow: 0 0 0;
}
.top-search form input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0;
    border: 1px solid #ccc;
}
.top-search form input[type="submit"] {
    background: url(/static/img/9.png) no-repeat 0px 0px !important;
    width: 18px !important;
    height: 18px !important;
    border: none !important;
    position: absolute !important;
    outline: none !important;
    top: 9px;
    right: 26px;
}
.header-top-right {
  float: right;
}
.file {
  float: left;
  margin: 1.1em 0 0 0;
}
.file input[type="text"] {
  width: 60%;
  padding: 9px;
  border: none;
  font-size: 1.1em;
  border: 1px solid #705e57;
  font-weight: 600;
  color: #705e57;
  outline: none;
  background: #fff;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.file a{
    padding: 8px 20px;
    background: #F7F7F7;
    color: #272C2E;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    text-decoration: none;
}
.dropdown {
  float: left;
  margin: 0.4em 0 0 0;
}
.dropdown button{
  height: 32px;
	border: 0px;
    padding: 8px 20px;
    background: #F7F7F7;
    color: #272C2E;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    text-decoration: none;
}

.file a:hover {
  opacity: 0.8;
}
.file a:focus {
    outline: none;
}
.signin{
  float: left;
  margin: 1.1em 0 0 1em;
}
.signin a{
	padding: 8px 20px;
    background: #21DEEF;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.signin a:hover{
	text-decoration:none;
	color:#272C2E;
	background:#F7F7F7;
}
.signin a:focus {
    outline: none;
}
.main {
    padding: 5em 0 0 0;
}
.main-grids {
  padding: 0 0 1em 1em;
}
/*----*/
.resent{
	margin:1em 0;
}
.resent-grid {
	padding-left: 0.1em;
}
.resent-grid-img{
	position:relative;
}
.resent-grid-img a{
	display:block;
}
.resent-grid a img{
	width:100%;
}
.resent-grid-info{
    background: #f7f7f7;
    padding: 1em;
}
.resent-grid-info a.title{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #525254;
}
.resent-grid-info a.title:hover{
    transition: inherit;
    text-decoration: underline;
}
.resent-grid-info p.author{
  font-size: 14px;
  color: #9E9E9E;
  margin: .5em 0;
}
.resent-grid-info p.company{
  font-size: 12px;
  color: #9E9E9E;
  margin: .5em 0;
}
.resent-grid-info p.author a.author{
    color: #21DEEF;
    text-decoration: none;
}
.resent-grid-info p.author a.author:hover{
    text-decoration: none;
}
.resent-grid-info p.views{
  font-size: 14px;
  color: #9E9E9E;
  margin: 0;
}
/*-- recommended --*/
.recommended-grids {
    margin: 5em 0;
}
.recommended-info h3{
    font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.recommended-info p{
    font-size: 13px;
    color: #9E9E9E;
    margin: 0;
    line-height: 1.8em;
}
.recommended-grid-info a.title{
    font-size: 14px;
    line-height: 1.3em;
}
.recommended-grid-info h3 {
  margin: 0;
  overflow: hidden;
  height: 54px;
}
.recommended-grid-info h5 {
  margin: 0;
  overflow: hidden;
  height: 34px;
}
.resent-grid-info a.title-info{
    font-size: 15px;
}
.recommended-grid-info p.author {
    font-size: 13px;
    margin: 0;
}
.resent-grid-info p.author-info{
    font-size: 13px;
    font-weight: 600;
}
.resent-grid-info p.views {
    font-size: 13px;
}
.resent-grid-info p.views-info{
    font-size: 12px;
}
.resent-grid-info p.descr {
    font-size: 13px;
}
.resent-grid-info p.descr-info{
    font-size: 12px;
    height: 55px;
    overflow: hidden;
}
.recommended-grid-info {
    box-shadow: 0px 0 2px #C1C1C1 !important;
    background: none;
}

/*-- single --*/
.song {
    width: 100%;
    float: left;
}
.song video{
	width:100%;
}
.song-info {
    padding-left: 0;
    padding: 0 0 1em;
}
.song-info h3{
  color: #272C2E;
  font-size: 22px;
  margin: 0;
  line-height: 1.5em;
}
.video-grid video {
    width:100%;
	border: none;
}
.html5-video-content{
	width: 100%;
}
.media p.views{
  font-size: 14px;
  color: #9E9E9E;
  margin: 0;
  text-align:right;
}
/*-- shows --*/
.show-top-grids {
  padding: 0 1em 0 0;
}
.single-right{
	background: #f7f7f7;
    padding: 3em 0 0 3em;
}
.single-right h3{
	font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}
/*-- single --*/
.single-left {
  padding-bottom: 2em;
}
.media {
    margin: 4em 0;
}
.media-body p{
    font-size: 13px;
    color: #757575;
    margin: 0 0 .5em 0;
    line-height: 1.5em;
}
.media-body p.company{
  font-size: 12px;
  color: #9E9E9E;
  margin: .5em 0;
}
.single-grid-right{
	margin-top:2em;
}
.single-right-grids {
  margin: 0 0 1.5em 0;
}	
.single-right-grid-left a img{
	width:100%;
}
.single-right-grid-right a.title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #525254;
    text-decoration: none;
}
.single-right-grid-right a.title:hover{
    text-decoration: underline;
}
.single-right-grid-right p.author {
  text-decoration: none;
  font-size: 14px;
  color: #9E9E9E;
  margin: .5em 0;
}
.single-right-grid-right p.company{
  font-size: 12px;
  color: #9E9E9E;
  margin: .5em 0;
}
.single-right-grid-right p.author a {
	text-decoration: none;
    color: #21DEEF;
    text-decoration: none;
}
.single-right-grid-right p.views {
    font-size: 12px;
    color: #C3C3C3;
    margin: 0;
}
.single-right-grid-right p.descr-info{
    font-size: 12px;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single-right-grid-left {
  padding-left: 0;
}
.single-right-grid-right{
	padding-right:0;
}
/*-- upload --*/
.upload {
    padding: 8em 0;
    background: #F3F3F3;
}
.upload-data{
	padding: 0em 5em;
}
.upload-right{
	padding: 1em 0;
    background: #FFFFFF;
}
.upload-file input[type="file"] {
	opacity: 0;
    width: 60%;
    height: 30%;
    display: inline-block;
    border: 0px;
    outline: none;
    left: 20%;
    position: absolute;
    top: 40%;
    cursor: pointer;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -ms-border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
}
.upload-grids label{
	font-size: 14px;
}
.upload-grids button{
	font-size: 14px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.drop-box{
	height: 100%;
	width: 100%;
	padding: 5em 0;
	text-align: center;
	font-size: 20px;
}
.services-icon {
    background: #C5C5C5;
    width: 75px;
    height: 75px;
    line-height: 10em;
    text-align: center;
    position: relative;
    margin: 0 auto;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -ms-border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
}
.glyphicon-open {
    font-size: 4.5em;
    color: #FFFFFF;
}
.upload-info{
	text-align:center;
	margin:3em 0 0 0;
}
.upload-info h5{
	color:#000;
	font-size:20px;
	font-weight:600;
	margin:0;
}
.upload-info span{
    font-size: 14px;
    color: #9E9E9E;
}
.upload-info p{
	font-size:14px;
	color: #757575;
	margin:0;
}
/*-- my-account --*/
.detail-info p.title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #525254;
    text-decoration: none;
}
.detail-info p.descr {
    font-size: 14px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-info p.control-button {
    vertical-align:bottom;
    padding: 1em;
}
.detail-info p.control-button a.btn {
    margin: 0.3em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.detail-info p.control-button button{
    margin: 0.3em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.detail-info {
	display: inline-block;
    height: 100%;
}
.edit-grids label{
	font-size: 14px;
}
.edit-grids button{
	font-size: 14px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
/*-- admin --*/
.account-table th {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #525254;
    text-decoration: none;
}
.account-table td {
    margin: 0;
    font-size: 14px;
    text-decoration: none;
}
.account-table button{
	vertical-align: middle;
	font-size: 14px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.new-company{
	margin: 1em;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.new-company button{
	font-size: 14px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.new-company label{
	font-size: 13px;
}
.new-company input{
	font-size: 12px;
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
.copyright p{
    color: #BBBBBB;
    margin: 0;
    font-size: 13px;
    text-align: center;
}
.copyright p a{
	color:#BBBBBB;
	text-decoration:none;
}
.copyright p a:hover{
	color:#FFFFFF;
}
/*-- responsive-design starts-here --*/
@media (max-width: 1366px) {
	.resent-grid-info p.author-info {
		font-size: 12px;
	}
}
@media (max-width: 1080px) {
	form.navbar-form.navbar-right {
		width: 47%;
	}
	.header-top-right {
		margin: .5em 0;
	}
	.resent-grid-info p.author a.author {
		padding-left: 1.5em;
	}
	.song-info h3 {
		font-size: 20px;
	}
	.single-right-grid-right {
		padding: 0;
	}
	.single-right-grid-right a.title {
		font-size: 13px;
	}
}
@media (max-width: 1024px) {
	form.navbar-form.navbar-right {
		width: 43%;
	}
}
@media (max-width: 991px) {
	body {
		padding: 0;
	}
	nav.navbar.navbar-inverse.navbar-fixed-top {
		position: inherit;
	}
	form.navbar-form.navbar-right {
		width: 41%;
	}
	.recommended-grid {
	    float: left;
		width: 25%;
		margin-bottom: 2em;
	}
	.slider-top-grids {
		width: 33.33% !important;
		float: left !important;
	}
	.main {
		padding: 2em 0 0 0;
		float: none !important;
		margin: 0;
		width: 100%;
	}
	.single-left {
		float: left;
		width: 70%;
	}
	.single-right {
		padding: 2em;
		float: left;
		width: 30%;
	}
	.single-right-grid-left {
		padding: 0;
		margin-bottom: 1em;
	}
}
@media (max-width: 800px) {
	form.navbar-form.navbar-right {
		width: 34%;
		margin-left: 4em;
	}
}
@media (max-width: 768px) {
	form.navbar-form.navbar-right {
		margin-left: 3em;
	}
	form.navbar-form.navbar-right {
		width: 33%;
	}
	.recommended-grids {
		margin: 2em 0;
	}
	.song {
		width: 100%;
		float: none;
	}
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-toggle {
	    display: none;
		float: none;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    display: block;
		border: none;
	}
	form.navbar-form.navbar-right {
		width: 38%;
		margin: 0;
	}
	.top-search form input[type="submit"] {
	    right: 26px;
		top: 18px;
	}
	a.navbar-brand {
	    float: none;
	}
	a.navbar-brand {
	    display: block;
		text-align: center !important;
		width: 25%;
		margin: 0 auto 1em auto;
		padding: 0;
	}
}
@media (max-width: 640px) {
	.navbar-inverse .navbar-toggle {
	    display: none;
		float: none;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    display: block;
		border: none;
	}
	form.navbar-form.navbar-right {
		width: 38%;
		margin: 0;
	}
	.top-search form input[type="submit"] {
	    right: 26px;
		top: 18px;
	}
	a.navbar-brand {
	    float: none;
	}
	a.navbar-brand {
	    display: block;
		text-align: center !important;
		width: 25%;
		margin: 0 auto 1em auto;
		padding: 0;
	}
	.upload-file input[type="file"] {
		left: 44.3%;
		top: 332px;
	}
	.video-grid video {
		height: 223px;
	}
}
@media (max-width: 480px) {
	a.navbar-brand img {
		width: 100%;
	}
	.file a {
		font-size: 12px;
	}
	.signin a {
		font-size: 12px;
	}
	.top-search form input[type="text"] {
		padding: 6px 30px 6px 12px;
	}
	.slider-top-grids {
		width: 100% !important;
		float: none !important;
	}
	.form-control {
	      height: 31px;
	}
	a.navbar-brand {
		margin: 0 auto 0em auto;
	}
	.upload-file input[type="file"] {
		left: 41.6%;
		top: 310px;
	}
	.resent-grid-info p.author a.author {
		padding-left: 2em;
	}
	.recommended-grid {
		width: 50%;
	}
	.resent-grid-info p.author-info {
		font-size: 13px;
	}
	.resent-grid-info p.views-info {
		font-size: 13px;
	}
	.single-left {
		float: none;
		width: 100%;
	}
	.single-right {
		float: none;
		width: 100%;
	}
}
@media (max-width: 320px) {
	a.navbar-brand {
		width: 35%;
	}
	form.navbar-form.navbar-right {
		width: 100%;
		margin: 0;
		float: none !important;
		padding: 0 0 0.5em 0;
	}
	.top-search form input[type="submit"] {
		right: 14px;
		top: 6px;
	}
	.top-search form input[type="text"] {
		padding: 6px 36px 6px 12px;
	}
	.header-top-right {
		float: none;
	}
	.recommended-info h3 {
	    font-size: 15px;
	}
	.resent-grid-info a.title-info {
		font-size: 14px;
	}
	.recommended-grid-info h3 {
		line-height: .8em;
	}
	.recommended-grid-info a.title {
		font-size: 13px;
	}
	.show-top-grids {
		padding: 0;
	}
	.song-info h3 {
		font-size: 15px;
	}
	.video-grid video {
		height: 152px;
	}
	.media-body p {
		font-size: 12px;
	}
	.single-right h3 {
		font-size: 15px;
	}
	.copyright p {
		font-size: 12px;
	}
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#loginPopup .modal-dialog {
    width: 350px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}