<div class="main">
	<div class="show-top-grids" ng-repeat="video in records.content">
		<div class="col-sm-3 col-sm-offset-2 resent-grid recommended-grid slider-top-grids">
			<div class="resent-grid-img recommended-grid-img">
				<a ng-href="#/my-account/video/{{video.id}}"><img ng-src="{{video.thumbnailUrlMedium | trusted}}" alt="{{video.title}}" /></a>
			</div>
		</div>
		<div class="col-md-5 single-right detail-info">
			<div>
				<p class="title" ng-bind="video.title"></p>
				<br>
				<p class="descr" ng-bind="video.description"></p>	
			</div>
			<div>
				<p class="control-button">
					<a ng-href="#/my-account/video/{{video.id}}" class="btn btn-primary" role="button">Edit</a> 
					<button type="submit" class="btn btn-danger" role="button" ng-click="deleteVideo($index)">Delete</button>
				</p>					
			</div>
		</div>
		<div class="clearfix"> </div>	
	</div>
	<div ng-include="'static/html/include/load-more.html'"></div>
</div>
<div class="clearfix"> </div>	