<div class="modal-dialog">
	<div class="main" id="div-forms">
		<div class="alert alert-danger" ng-show="error">Send Error. Please try again.</div>
		<form name="myForm"> 
			<div class="modal-body">
				<div id="div-login-msg">
					<div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
					<span id="text-login-msg">Type your new password.</span>
				</div>
				<input type="password" class="form-control" placeholder="New Password" id="password" name="password" ng-model="password" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" required/>
				<br />
				<input type="password" class="form-control" placeholder="Repeat Password" data-match="password" name="confirmPassword" ng-model="passwordConfirm" required/>
				<span class="text-error" data-ng-show="myForm.confirmPassword.$error.match">Passwords don't match!</span>
				<br />
			</div>
			<div class="modal-footer">
				<div>
					<button type="submit" ng-disabled="!myForm.$valid" class="btn btn-primary btn-lg btn-block" ng-click="restorePassword()">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>