
<!-- upload -->
<div class="upload clearfix">
	<!-- container -->
	<div class="container">
		<div class="upload-grids">
			<form name="form">
				<div class="form-group">
					<label for="inputTitle">Title</label> 
					<input type="text" class="form-control" id="inputTitle" name="title" ng-model="title" required>
					<i ng-show="form.title.$error.required">*required</i>
				</div>
				<div class="form-group">
					<label for="inputDescription">Description</label> 
					<textarea rows="5"  class="form-control" id="inputDescription" name="description" ng-model="description" required></textarea>
					<i ng-show="form.description.$error.required">*required</i>
				</div>
				<div class="form-group">
					<div class="upload-right">
 						<div ngf-drop ngf-select ng-model="file" class="drop-box" ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
					        accept="video/*" ngf-pattern="'video/*'" name="file" required><img ng-src="{{file.name}}"/> Drop videos here or click to upload</div>
					    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
					    <i ng-show="form.file.$error.required">*required</i><br>
					    <div style="font:smaller">{{file.name}}</div>     		
					</div>
				</div>
				<button type="submit" class="btn btn-success" ng-disabled="!form.$valid" ng-click='submit()'>Submit</button>
			</form>
		</div>
	</div>
</div>
